<html ng-app>
  <head>
    <script src="angular.min.js"></script>
    <script src="controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
<title id="name"></title>
<script>

  function show(){
    document.getElementById("showData").style.display = "block";
  }
  function hide(){
    alert("thx");
    document.getElementById("showData").style.display = "none";
  }
  function submit(){
    document.getElementById("showData").style.display = "none";
  }
  setInterval(randTitle, 80);
  setInterval(randSound, 1800);
  setInterval(randGif, 5000);

  function randSound(){
    var tracks = ["tracks/djsiren.mp3", "tracks/hmarker.wav", "tracks/triple.mp3", "tracks/wombocombo.mov","tracks/whereyouat.mov","tracks/wombo2.mov"]
    var randTrack = tracks[Math.floor(Math.random() * tracks.length)];
    var audio = new Audio(randTrack);
    audio.play();
  }

function randGif(){
  var width = window.innerWidth;
  var height = window.innerHeight;
  var gifUrls = ["gifs/duane.gif", "gifs/expl.gif", "gifs/snoop.gif", "gifs/spooky.gif"]
  var randWidth4 = Math.floor(Math.random()*width -200);
  var randHeight4 = Math.floor(Math.random()*height -200);
  var randRotation4 = Math.floor(Math.random()*360);
  var randURL4 = gifUrls[Math.floor(Math.random() * gifUrls.length)];
  var swagGIF = document.getElementById("gif");
  swagGIF.src=randURL4;
  swagGIF.style.transform=randRotation4;
  swagGIF.style.left=randWidth4;
  swagGIF.style.top=randHeight4;
}

function randTitle(){
  var width = window.innerWidth;
  var height = window.innerHeight;
  var randWidth = Math.floor(Math.random()*width);
  var randHeight = Math.floor(Math.random()*height);

  var randWidth2 = Math.floor(Math.random()*width);
  var randHeight2 = Math.floor(Math.random()*height);

  var randWidth3 = Math.floor(Math.random()*width);
  var randHeight3 = Math.floor(Math.random()*height);

  var randRotation = Math.floor(Math.random()*360);

  var randRotation2 = Math.floor(Math.random()*360);

  var randRotation3 = Math.floor(Math.random()*360);

  var text = "";
  var randColor = "#"+((1<<24)*Math.random()|0).toString(16);
  var randBGColor = "#"+((1<<24)*Math.random()|0).toString(16);
  var urls = ["images/dew.jpg", "images/doritos.jpg", "images/illuminati.jpg", "images/snoop.jpg", "images/weed.jpg", "images/bling.jpg", "images/images.jpg", "images/Swag.jpg"];

    var randURL = urls[Math.floor(Math.random() * urls.length)];

    var randURL2 = urls[Math.floor(Math.random() * urls.length)];

    var randURL3 = urls[Math.floor(Math.random() * urls.length)];

    var possible = "!@#$%^&*()'?/|~`QWERTYUIIOPASDFGHJKLZXCVBNMqwertyuiopasdfghjklzxcvbnm";

    for( var i=0; i < 8500; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    var title = document.getElementById("name");
    var header = document.getElementById("header");
    var swagIMG = document.getElementById("image");
    var swagIMG2 = document.getElementById("image2");
    var swagIMG3 = document.getElementById("image3");

    swagIMG.src= randURL;
    swagIMG.style.left=randWidth;
    swagIMG.style.top=randHeight;
    swagIMG.style.transform="rotate("+randRotation+"deg)";

    swagIMG2.src= randURL2;
    swagIMG2.style.left=randWidth2;
    swagIMG2.style.top=randHeight2;
    swagIMG2.style.transform="rotate("+randRotation2+"deg)";

    swagIMG3.src= randURL3;
    swagIMG3.style.left=randWidth3;
    swagIMG3.style.top=randHeight3;
    swagIMG3.style.transform="rotate("+randRotation3+"deg)";

    header.innerHTML = text;
    header.style.color = randColor;
    document.body.style.backgroundColor = randBGColor;
}
window.onload=function(){audio.play();};
</script>
  </head>
  <body>
  <img id="image">
  <img id="image2">
  <img id="image3">
  <img id="gif">
  <div id="header"></div>
  <audio loop="loop" autoplay="autoplay" height="0" width="0">
   <source src="sand.mp3" type="audio/mpeg" />
  </audio>
<!--       <h1 id="header"></h1>
    <div class="wrapper">
      <input type="text" ng-model="firstName" placeholder="First Name"><br>
      <input type="text" ng-model="lastName" placeholder="Last Name"><br>
      <input type="email" ng-model="email" placeholder="Email"><br>
      <input type="date" ng-model="birthday"><br>
      Male    <input type="radio" ng-model="sex" value="dude"><br>
      Female  <input type="radio" ng-model="sex" value="chick"><br>
      <input type="submit" onclick="show()" value="Submit">
      <p id="showData">
        Hello {{firstName}} {{lastName}}!<br>
        Your email is {{email}},<br>
        Your are a {{sex}},<br>
        Your birthday is {{birthday | date:'MM-dd-yyyy'}}<br>
        Is this correct? <a id="yes" onclick="submit()" href="?">Yes</a> / <a id="no" href="?" onclick="hide()">No</a>

      </p>
    </div> -->
  </body>
</html>