*{
  z-index: 2;
}
html, body{
  margin:0;
  padding:0;
}
body {
  font-family: monospace;
  font-size: 8pt;
  overflow: hidden;
  width:100%;
  height: 100%;
  text-align: center;
}
input {
  font-size: 24px;
  background: #ffffff;
  border: solid 3px #808080;
  padding: 5px;
}
#showData{
  display: none;
  font-size: 24px;
  text-align: left;
}
.wrapper {
  display: inline-block;
  text-align: left;
  background-color: #efefef;
  padding: 15px;
}
#yes, #no{
  text-decoration: none;
}
#yes:hover, #no:hover{
  opacity: 0.5;
}
#yes{
  color: green;
}
#no{
  color: red;
}
#header{
  text-align: justify;
  text-justify:inter-word;
  text-wrap: unrestricted;
}
.image {
  width: 300px;
  height: 200px;
}
img {
  display: inline-block;
  position: absolute;
}
#gif {
  transition: 5s;
}